//-mixin方法
<!DOCTYPE html>
html(lang="zh")
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="style.css")
        title 冰沙店
    body
        div(id="banner")
            nav 
                imgs(src="logo.jpg" alt="冰沙店logo")
                div(id="link")
                    a(href="#") 關於我們
                    a(href="#") 產品資訊
                    a(href="#") 加盟專區