*{
    font-family: 微軟正黑體;
}
#logo a{
    text-decoration: none;
    color:rgb(39, 113, 250);
    font-size: 4em;
    font-weight: 650;
    padding: 30px 0;
    width: 30px 0;
}
.navbar {
    text-align: center;
}
.carousel img{
    height: 35%;
    object-fit: cover;
}
.slider{
    height: 35px;
    margin: 35px;
    padding: 35px; 
    
    button{
        display: none !important;
    }
} 
#back-to-top{
    background-color: rgb(59, 193, 255);
    color:gold;
    width:60px;
    height: 60px;
    text-align: center;
    line-height: 50px;
    border-radius: 75%;
    box-shadow:0 3px 5px rgba(0,0,0,0.5);
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
}
body{
    background-image: url(img/ice\ cube.jpg);
}