*{
    margin: 0;
    padding: 0;
    font-family:微軟正黑體;
}

#banneer{
    background-image: url(imgs/banner.jpg);
    width: 100px;
    background-size: cover;
}
#link{
    float: right;
    padding: 35px 0;
}
nav{
    margin: 0 auto;
}